<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Irving | @ViewBag.Title</title>
        @* FavIcon *@
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        @* Stylesheets *@
        @Styles.Render("~/bundles/css/jqueryTheme", "~/bundles/css/site")

        @* Javascript *@
        @Scripts.Render("~/bundles/js/all")

        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <a id="logo" href="@Url.Home()">Irving</a>
            </div>
        </header>
        <div id="body">
            <section class="content-wrapper main-content clear-fix">
                @Html.ValidationSummary()
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Brian Salato</p>
                </div>
            </div>
        </footer>
    </body>
</html>
