@model Irving.Web.Models.Car

@{
    ViewBag.Title = "Show";
}

<h2>@Model.Name</h2>

@Html.Partial("_ConfirmDelete", Model)

<a href="@(Url.Edit(Model))">Edit</a>
<a href="#" onclick="Irving.DbCRUD.showConfirmDelete()">Delete</a>
<div>
    <div class="row">
        <div class="label">
            @Html.LabelFor(m => m.Name)
        </div>
        <div class="">
            @Html.DisplayFor(m => m.Name)
        </div>
    </div>
    <div class="row">
        <div class="label">
            @Html.LabelFor(m => m.Make)
        </div>
        <div class="">
            @Html.DisplayFor(m => m.Make)
        </div>
    </div>
    <div class="row">
        <div class="label">
            @Html.LabelFor(m => m.Model)
        </div>
        <div class="">
            @Html.DisplayFor(m => m.Model)
        </div>
    </div>
    <div class="row">
        <div class="label">
            @Html.LabelFor(m => m.Year)
        </div>
        <div class="">
            @Html.DisplayFor(m => m.Year)
        </div>
    </div>
    <div class="row">
        <div class="label">
            @Html.LabelFor(m => m.CurrentMileage)
        </div>
        <div class="">
            @Html.DisplayFor(m => m.CurrentMileage)
        </div>
    </div>
    <div class="row">
        <div class="label">
            @Html.LabelFor(m => m.Bought)
        </div>
        <div class="">
            @Html.DisplayFor(m => m.Bought)
        </div>
    </div>
    <div class="row">
        <div class="label">
            @Html.LabelFor(m => m.InitialMileage)
        </div>
        <div class="">
            @Html.DisplayFor(m => m.InitialMileage)
        </div>
    </div>
</div>

<div>
    <h3>Events</h3>
    <a href="#" onclick="Irving.Events.AddEvent()">Add Event</a>
</div>

<a href="@Url.Dashboard()">Back</a>