@model Irving.Web.Models.AssetType

<div class="row">
    <label>@Html.LabelFor(m => m.Name)</label>
    @Html.EditorFor(m => m.Name)
</div>

<div class="row">
    <div>
        <label>@Html.LabelFor(m => m.Properties)</label>
    </div>
    <div id="propertiesHolder">
        @for (int i = 0; i < Model.Properties.Count; i++)
        {
            <div>
                @Html.EditorFor(m => Model.Properties[i])
            </div>
        }
    </div>
    <div>
        <a href="#" onclick="Irving.CollectionManager.addItem('propertiesHolder')">+</a>
    </div>
</div>

@Html.HiddenFor(m => m.Id)