@model Irving.Web.ViewModels.NoteViewModel

<div id="addNoteDialog" class="hidden modal" title="Add Note">
    <div class="form400">
        <div class="field half">
            @Html.LabelFor(m => m.Title)
            @Html.EditorFor(m => m.Title)
        </div>

        <div class="field half">
            @Html.LabelFor(m => m.Date)
            @Html.EditorFor(m => m.Date)
        </div>

        <div class="field">
            <div class="label">
                @Html.LabelFor(m => m.Text)
            </div>
            <div class="value">
                @Html.TextAreaFor(m => m.Text)
            </div>
        </div>
    </div>
</div>