@model Irving.Web.ViewModels.ShowAssetViewModel

@{
    ViewBag.Title = "Show";
}

@Html.Partial("_ConfirmDelete", Model.Id)

<h1>
    @Model.Name 
    <a class="editLink" href="@(Url.Edit<Asset>(Model.Id))"></a>
    <a href="#" class="deleteLink" onclick="Irving.DbCRUD.showConfirmDelete()"></a>
</h1>

<div>
    <div class="row">
        <div class="label">
            @Html.LabelFor(m => m.Notes)
            <a class="addLink" href="#" onclick="Irving.Asset.showAddNote()"></a>
        </div>
        <div class="value">
            <ul id="noteList">
                @foreach (var note in Model.Notes)
                {
                    @Html.Partial("_Note", note)
                }
            </ul>
        </div>
    </div>

    @Html.HiddenFor(m => Model.Id)
</div>

<a href="@Url.Dashboard()">Back</a>


@Html.Partial("_AddNote", new Irving.Web.ViewModels.NoteViewModel())