@model Irving.Web.Models.AssetType

<div class="row">
    <label>@Html.LabelFor(m => m.Name)</label>
    @Html.EditorFor(m => m.Name)
</div>

<div class="row">
    <div>
        <label>@Html.LabelFor(m => m.Properties)</label>
    </div>
    <div id="propertiesHolder">
        @foreach (var property in Model.Properties)
        {
            <div>
                @Html.EditorFor(m => property)
            </div>
        }
    </div>
    <div>
        <a href="#" onclick="Irving.AssetType.addProperty()">+</a>
    </div>
</div>

<input type="hidden" id="numProperties" value="@Model.Properties.Count" />
<div class="hidden">
    @Html.Partial("EditorTemplates/AssetTypeProperty", new AssetTypeProperty() { Id = -1 }, new { blankOutData = true })
</div>

@Html.HiddenFor(m => m.Id)