@model Irving.Web.Models.AssetType

@{
    ViewBag.Title = "Show";
}

<h2>@Model.Name</h2>

@Html.Partial("_ConfirmDelete", Model)

<a href="@(Url.Edit(Model))">Edit</a>
<a href="#" onclick="Irving.DbCRUD.showConfirmDelete()">Delete</a>
<div>
    <div class="row">
        <div class="label">
            @Html.LabelFor(m => m.Name)
        </div>
        <div class="">
            @Html.DisplayFor(m => m.Name)
        </div>
    </div>

    <div class="row">
        <div class="label">
            @Html.LabelFor(m => m.Properties)
        </div>
        <div class="">
            <ul>
                @foreach (var property in Model.Properties)
                {
                    <li>@property.Name - @property.PropertyType</li>
                }
            </ul>
        </div>
    </div>
</div>

<a href="@Url.Dashboard()">Back</a>